.egg_store{
  margin-right:-16px;
  .egg_container{ width:308px; float: left; margin:15px 20px 15px 1px; color:#606060; box-shadow: 0 1px 4px #aaa; border-radius: 3px;
      .title {padding:8px; background:#F8F8F8; border-bottom: 1px solid #EEE; height:35px; overflow:hidden;
          h4 {
            font-weight: bold;
            font-size: 10px;
          }
          h2 { 
            font-weight:bold; 
            color:#004B91;
            font-size: 14px;
            line-height:1em;
          }
          h2:hover { text-decoration:underline; color:#C60;}
      }
      .egg_image{float:left;}
      .egg_info{float:left; margin: 30px 0 0 15px; font-size:12px;}
      .egg_price{color: #b00000; font-weight: bold;}
      .review{margin-top:10px; margin-left: -10px;}
  }

  #search{
    text-align: center;
    width:360px;
    width:971px;
    margin:20px 10px 10px 0;
    background:#FFE25F;
  /*  box-shadow: 0 1px 4px #ccc;*/
  /*  border:1px solid #ccc;*/
    border-radius: 3px;
    padding:20px 0;

      .inner-search {
          width:345px;
          margin:auto;

          #loader {
              width:32px;
              height:32px;
              display: block;
              margin:0px;
              float:left;
          }
      }
  }
  #search_results{width:100%;
      a{text-decoration: none; color: #606060;}
      a:hover{text-decoration: none; color: #606060;}
  }

  #search-box{
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
      border: none;
      font-size: 18px;
      padding:4px;
      width: 292px;
      font-weight: bold;
      position: relative;
      margin-left: 10px;
      z-index: 10;
      border: #a0a0a0 1px solid;
      color:#222;
  }

  input[type="search"]:-webkit-search-decoration,
  input[type="search"]:-webkit-search-cancel-button,
  input[type="search"]:-webkit-search-results-button,
  input[type="search"]:-webkit-search-results-decoration {
    display: none;
  }
}

.egg_details {
  margin-top:27px;
  
  .egg_info {
     width:62%;
     float:left; 
     color:#606060;
     margin-bottom:1em;
     
     h2{font-size: 28px; font-weight: normal; color: #444444; margin-bottom: 17px;}
     h4{font-size: 17px; font-weight: normal; color: #737373; margin-bottom: .32em;}
    .egg_image {float:left;}
    .egg_info {float:left; margin: 0; width:100%; padding-top: 20px;}
    .egg_price {color: #b00000;}
    .review {margin-top:10px;}
    .lesson_list {
      margin-top: 10px;
      
      color: #606060;
/*      box-shadow: 0 1px 4px #AAA;*/
/*      border-radius: 3px;*/

      .title {
/*        border-bottom: #E3E3E3 solid 1px;*/
        background: #D6D6D6;
        
        .header {
          font-size: 16px;
          padding:.62em;
          color:#444; 
          display: block;
        }
      }
      
      .lesson_action {
        a {

          font-size: 16px; 
          padding:.31em .62em;
          margin:.31em .31em .31em 0;
          
          
          -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
          -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
          box-shadow:inset 0px 1px 0px 0px #ffffff;
          background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bde6ff), color-stop(1, #5cb8ed) );
          background:-moz-linear-gradient( center top, #bde6ff 5%, #5cb8ed 100% );
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bde6ff', endColorstr='#5cb8ed');
          background-color:#bde6ff;
          -moz-border-radius:6px;
          -webkit-border-radius:6px;
          border-radius:6px;
          border:1px solid #7fc0e3;
          display:inline-block;
          color:#005387;
          text-decoration:none;
          text-shadow:1px 1px 0px #d6f0ff;
          
          &:hover {
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb8ed), color-stop(1, #bde6ff) );
            background:-moz-linear-gradient( center top, #5cb8ed 5%, #bde6ff 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb8ed', endColorstr='#bde6ff');
            background-color:#5cb8ed;
          }
          &:active {
            position:relative;
            top:1px;
          }
        }
      }
      
      .get_all_lessons {text-align:right; display: block; float:right;}
      .table_header {font-size: 12px; font-weight: bold; color:#cf7006; padding:3px 0}
    }
    
    table {
      width:100%; 
      font-size: 16px; 
      color:#606060;
      border-width: 0px; 
      border-color: #fff; 
      border-spacing: 0px;
    
      tr, td {
        border-width: 0px; 
        border-color: #fff; 
        border-spacing: 0px; 
        text-align: center; 
        font-size: 16px; 
        padding:.31em;
      }
      tr.d0 td { 
        background-color: #fff;
      }
      tr.d1 td {
        background-color: #f4f4f4;
      }
      #title{
        width:200px; 
        color:#808080; 
        font-size: 10px; 
        font-weight: normal; 
        text-align: left; 
        padding-left: 10px;
      }
      #questions{width:100px; color:#808080; font-size: 10px; font-weight: normal; }
      #price{width:50px; color:#808080; font-size: 10px; font-weight: normal; }
      #buy{width:105px; color:#808080; font-size: 10px; font-weight: normal; }
      tr td.title_col{text-align: left; padding-left: 10px;}
    }
  }
  
  .aside {
    margin-top:64px;
  }
}

/***********STAR RATING CSS **************/

.star-rating{
		list-style:none;
                line-height: 15px;
		margin-left:0px !important;
		padding:0px !important;
                padding-bottom: 15px !important;
		width: 75px;
		height: 0px;
		position: relative;
		background: url(alt_star.gif) top left repeat-x;		
	}
	.star-rating li{
		padding:0px;
		margin:0px;
		/*\*/
		float: left;
		/* */
	}
	.star-rating li a{
		display:block;
		width:15px;
		height: 15px;
		text-decoration: none;
		text-indent: -9000px;
		z-index: 20;
		position: absolute;
		padding: 0px;
	}
	.star-rating li a:hover{
		background: url(alt_star.gif) left bottom;
		z-index: 2;
		left: 0px;
	}
	.star-rating a:focus,
	.star-rating a:active{
		border:0;	
		-moz-outline-style: none;
    	        outline: none; 
	}
	.star-rating a.one-star{
		left: 0px;
	}
	.star-rating a.one-star:hover{
		width:15px;
	}
	.star-rating a.two-stars{
		left:15px;
	}
	.star-rating a.two-stars:hover{
		width: 30px;
	}
	.star-rating a.three-stars{
		left: 30px;
	}
	.star-rating a.three-stars:hover{
		width: 45px;
	}
	.star-rating a.four-stars{
		left: 45px;
	}	
	.star-rating a.four-stars:hover{
		width: 60px;
	}
	.star-rating a.five-stars{
		left: 60px;
	}
	.star-rating a.five-stars:hover{
		width: 75px;
	}
	.star-rating li.current-rating{
		background: url(alt_star.gif) left center;
		position: absolute;
		height: 15px;
		display: block;
		text-indent: -9000px;
		z-index: 1;
	}
        
.static-star-rating{
		list-style:none;
                line-height: 15px;
		margin-left:10px !important;
		padding:0px !important;
                padding-bottom: 15px !important;
		width: 75px;
		height: 0px;
		position: relative;
		background: url(alt_star.gif) top left repeat-x;
	}
	.static-star-rating>li{
		padding:0px;
		margin:0px;
		/*\*/
		float: left;
		/* */
	}
	.static-star-rating>li>a{
		display:block;
		width:15px;
		height: 15px;
		text-decoration: none;
		text-indent: -9000px;
		z-index: 20;
		position: absolute;
		padding: 0px;
                cursor: default;
	}
	.static-star-rating a:focus,
	.static-star-rating a:active{
		border:0;	
		-moz-outline-style: none;
    	        outline: none; 
	}
	.static-star-rating a.one-star{
		left: 0px;
	}
	.static-star-rating a.two-stars{
		left:15px;
	}
	.static-star-rating a.three-stars{
		left: 30px;
	}
	.static-star-rating a.four-stars{
		left: 45px;
	}	
	.static-star-rating a.five-stars{
		left: 60px;
	}
	.static-star-rating li.current-rating{
		background: url(alt_star.gif) left center;
		position: absolute;
		height: 15px;
		display: block;
		text-indent: -9000px;
		z-index: 1;
	}